
      .main div {        
            /*background-color: #CD5C5C;*/  /*颜色*/
            max-width:1%;              /*宽度*/
            border-radius: 9%;        /*边框*/
            margin: 1%;                /*外边距*/
            padding: 15.1%;               /*内边距*/
            /*content: 10px;*/            /*内容*/
            float: left;              /*浮动*/
            
        }
        .main{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .a{
            background-color: red;  /*颜色*/ 
        }
        .b{
            background-color: #99FF00;  /*颜色*/ 
        }
        .c{
            background-color: #CC0066;  /*颜色*/ 
        }
        .d{
            background-color: #FFCCFF;  /*颜色*/ 
        }
        .e{
            background-color: #FF6699;  /*颜色*/ 
        }
        .f{
            background-color: #FF9900;  /*颜色*/ 
        }
        .g{
            background-color: green;  /*颜色*/ 
        }
        .h{
            background-color: blue;  /*颜色*/ 
        }
        .i{
            background-color: #9933FF;  /*颜色*/ 
        }